html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevent scrollbars */
    position: relative; /* Ensure proper positioning of absolute elements */
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}

#colorPanel {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.colorButton {
    width: 50px;
    height: 50px;
    margin: 5px;
    z-index: 200;
}

#pickColorButton {
    width: 120px;
    height: 40px;
    margin-top: 10px;
}

#strokeWidthControl {
    z-index: 200;
}